<% breadcrumb.add_step(title = @moves_project_step) %>

<%= render Page::HeadingComponent.new(
      title:, breadcrumb:, back_button_url: moves_project_path(@moves_project_step.moves_project),
    ) do |heading| %>
  <% heading.with_right_content do %>
    <% if @moves_project.unarchived? %>
      <%= render ButtonComponent.new(t(".new_move"),
                                     url: new_moves_project_step_move_path(@moves_project_step),
                                     variant: :success,
                                     icon: "plus-lg",
                                     is_responsive: true,
                                     extra_classes: "flex-shrink-0") %>
    <% end %>
  <% end %>

  <% if date = @moves_project_step.date %>
    <p class="mt-2">
      <span class="bi bi-calendar-event"></span>
      <span class="ms-1 fw-light text-body-secondary"><%= t(".planned_on") %></span>
      <span class="font-monospace"><%= l(date) %></span>
    </p>
  <% end %>
<% end %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <%= turbo_frame_tag(dom_id(Move, :table), data: { turbo_action: :advance }) do %>
    <div class="d-flex flex-column row-gap-4">
      <%= render List::DataTableComponent.new(decorate(@moves)) do |table| %>
        <% table.with_column(Move.model_name.human) do |move| %>
          <strong class="d-flex ms-2 my-2 align-items-center ">
            <span class="bi bi-box-seam me-2 text-primary"></span>

            <%= link_to move.decorated.display_name,
                        moves_project_step_move_path(move.step, move),
                        data: { turbo_frame: :_top } %>
          </strong>

          <div class="m-1">
            <%= render CardComponent.new(extra_classes: "d-inline-flex m-1") do |card| %>
              <% card.with_body(extra_classes: "p-2") do %>
                <div class="d-flex align-items-center">
                  <span class="d-none d-lg-inline-block">
                    <span class="bi bi-info-circle text-body-tertiary"
                      title="Informations sur <%= move.moveable %>"
                      aria-label="Informations sur <%= move.moveable %>"
                      data-controller="tooltip"
                      data-bs-placement="top">
                    </span>
                  </span>

                  <div class="vr text-body-tertiary d-none d-lg-block mx-2"></div>

                  <ul class="list-unstyled mb-0 small">
                    <li class="small text-nowrap">
                      <span class="fw-light text-body-secondary"><%= Server.human_attribute_name(:numero_short) %> :</span>
                      <span class="font-monospace text-body"><%= move.moveable.numero %></span>
                    </li>

                    <li class="small text-nowrap">
                      <span class="fw-light text-body-secondary"><%= Manager.model_name.human %> :</span>
                      <span class="text-body"><%= move.moveable.manager %></span>
                    </li>

                    <li class="small text-nowrap">
                      <span class="fw-light text-body-secondary"><%= Domain.model_name.human %> :</span>
                      <span class="text-body"><%= move.moveable.domain %></span>
                    </li>
                  </ul>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="small">
            <span class="fw-light text-body-secondary"><%= Modele.model_name.human %> :</span>
            <span class="text-body"><%= move.moveable.modele %></span>
          </div>
        <% end %>

        <% table.with_column("Départ") do |move| %>
        <%# table.with_column(Move.human_attribute_name(:prev_frame_id)) do |move| %>
          <%= link_to move.prev_frame,
                      frame_moves_project_moves_project_step_path(@moves_project, @moves_project_step, move.prev_frame),
                      title: move.prev_frame.name_with_room_and_islet,
                      data: {
                        turbo_frame: :_top,
                        controller: "tooltip",
                        bs_placement: "top",
                      } %>
          <div class="small text-nowrap">
            <span class="fw-light text-body-secondary"><%= Server.human_attribute_name(:position) %> :</span>
            <span class="font-monospace"><%= move.prev_position %></span>
          </div>
        <% end %>

        <% table.with_column("Destination") do |move| %>
        <%# table.with_column(Move.human_attribute_name(:frame_id)) do |move| %>
          <%= link_to move.frame,
                      frame_moves_project_moves_project_step_path(@moves_project, @moves_project_step, move.frame),
                      title: move.frame.name_with_room_and_islet,
                      data: {
                        turbo_frame: :_top,
                        controller: "tooltip",
                        bs_placement: "top",
                      } %>
          <div class="small text-nowrap">
            <span class="fw-light text-body-secondary"><%= Server.human_attribute_name(:position) %> :</span>
            <span class="font-monospace"><%= move.position %></span>
          </div>
        <% end %>

        <% table.with_column(Move.human_attribute_name(:status), text_align: :center) do |move| %>
          <span data-controller="tooltip"
                data-bs-placement="top"
                title="<%= l(move.executed_at) if move.executed_at.present? %>">
            <%= render move.decorated.status_to_badge_component %>
          </span>
        <% end %>

        <% table.with_column("Gestion des connexions", text_align: :center) do |move| %>
          <span class="d-inline-flex flex-column">
            <div class="text-nowrap">
            <!--<div class="text-nowrap border-bottom pb-2 mb-2">-->
              <!--<span class="fw-light text-body-secondary small me-2">
                <%#= "Supprimer les existantes ?" %>
              </span>-->
              <span><%= render move.moved_connections_to_badge_component %></span>
            </div>

            <div class="text-nowrap mt-2">
              <span class="fw-light text-body-secondary small me-2">Modifiées :</span>
              <span class="font-monospace"><%= move.position %></span>

              <% if allowed_to?(:update?, move) && !(@moves_project.archived? || move.executed?) %>
                <%= link_to "#",
                            class: "text-info small",
                            title: t(".edit_connections"),
                            data: {
                              turbo_frame: :_top,
                              controller: "tooltip",
                              bs_placement: "top"
                            } do %>
                  <span class="bi bi-pencil ms-2" aria-hidden="true"></span>
                  <span class="visually-hidden"><%= t(".edit_connections") %></span>
                <% end %>
              <% end %>
            </div>
          </span>
        <% end %>

        <% table.with_column(style: "min-width: 120px; width: 120px") do |move| %>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <% unless @moves_project.archived? || move.executed? %>
              <%= link_to t("action.execute"),
                          execute_moves_project_step_move_path(@moves_project_step, move),
                          title: t(".action.execute_move"),
                          data: {
                            turbo: true,
                            turbo_method: :patch,
                            confirm: t(".execute_confirmation"),
                            controller: "tooltip",
                            bs_placement: "top",
                            turbo_frame: :_top,
                          },
                          class: "btn btn-outline-primary",
                          aria: { hidden: true } %>
              <%= link_to edit_moves_project_step_move_path(@moves_project_step, move),
                          class: "btn btn-outline-info",
                          title: t("action.edit"),
                          data: {
                            turbo_frame: :_top,
                            controller: "tooltip",
                            bs_placement: "top",
                          } do %>
                <span class="bi bi-pencil" aria-hidden="true"></span>
                <span class="visually-hidden"><%= t("action.edit") %></span>
              <% end %>
              <%= link_to moves_project_step_move_path(@moves_project_step, move),
                          method: :delete,
                          class: "btn btn-outline-danger",
                          title: t("action.delete"),
                          data: {
                            turbo_frame: :_top,
                            controller: "tooltip",
                            bs_placement: "top",
                          } do %>
                <span class="bi bi-trash" aria-hidden="true"</span>
                <span class="visually-hidden"><%= t("action.delete") %></span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= turbo_frame_tag(dom_id(Move, :frames), data: { turbo_action: :advance }) do %>
    <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
      <% card.with_header do %>
        <%= t(".frame_table_title") %>
      <% end %>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover align_middle mb-0">
          <tbody>
            <%= content_tag_for(:tr, @moves_project_step.frames_with_moves_at_current_step) do |frame| %>
              <td class="w-100">
                <%= link_to frame,
                            frame_moves_project_moves_project_step_path(@moves_project, @moves_project_step, frame),
                            data: { turbo_frame: :_top } %>
              </td>
              <td class="d-flex justify-content-center column-gap-1">
                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                  <%= link_to print_moves_project_moves_project_step_path(@moves_project, @moves_project_step, frame),
                              class: "btn btn-sm btn-outline-primary",
                              data: { turbo_frame: :_top },
                              target: :_blank, rel: :noopener do %>
                    <span class="bi bi-printer"
                          title="<%= t("export_button.exports.print") %>"
                          aria-hidden="true"
                          data-controller="tooltip"
                          data-bs-placement="top"></span>
                    <span class="visually-hidden"><%= t("export_button.exports.print") %></span>
                  <% end %>

                  <%= link_to print_moves_project_moves_project_step_path(
                        @moves_project, @moves_project_step, frame, format: :pdf,
                      ),
                              class: "btn btn-outline-primary d-flex align-items-center",
                              title: t("export_button.exports.pdf"),
                              target: :_blank,
                              rel: :noopener,
                              data: {
                                aria_label: t("export_button.exports.pdf"),
                                bs_trigger: "hover",
                                controller: "tooltip",
                                bs_placement: "top",
                              } do %>
                    <span class="bi bi-file-earmark-pdf"></span>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
</div>
