<%
  breadcrumb
    .add_step(MovesProject.model_name.human(count: 2), moves_projects_path)
    .add_step(title = @moves_project)
%>

<%= render Page::HeadingShowComponent.new(resource: @moves_project, title:, breadcrumb:, editable: !@moves_project.archived?) do |heading| %>
  <% if created_by = @moves_project.created_by %>
    <p class="mt-2">
      <span class="bi bi-person"></span>
      <span class="ms-1 fw-light text-body-secondary"><%= MovesProject.human_attribute_name(:created_by) %></span>
      <span class="font-monospace"><%= created_by %></span>
    </p>
  <% end %>

  <% heading.with_extra_buttons do %>
    <% if @moves_project.unarchived? %>
      <%= render ButtonComponent.new(
            t("action.archive"),
            url: archive_moves_project_path(@moves_project),
            method: :patch,
            variant: :primary,
            icon: :archive,
            is_responsive: true,
            extra_classes: "me-2",
            data: { confirm: t(".archive_confirmation") },
          ) %>
    <% end %>
  <% end %>
<% end %>

<div class="p-4 border-top d-flex flex-column row-gap-4">
  <div class="row row-gap-4">
    <% @moves_project.steps.each do |moves_project_step| %>
      <div class="col-12">
        <%= render CardComponent.new(extra_classes: "bg-body-tertiary") do |card| %>
          <div class="d-flex justify-content-between align-items-center mb-4">
            <span class="d-inline-flex align-items-center w-75">
              <h4 class="mb-0">
                <span class="bi bi-bar-chart-fill text-body-tertiary me-1"></span>
                <%= link_to moves_project_step,
                            moves_project_step_moves_path(moves_project_step),
                            class: "link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" %>
              </h4>
              <% if date = moves_project_step.date %>
                <span class="ms-3">
                  <%= render BadgeComponent.new(color: :primary, variant: :pill) do %>
                    <span class="bi bi-calendar-event"></span>
                    <span class="fw-light text-body-secondary ms-1"><%= l(date) %></span>
                  <% end %>
                </span>
              <% end %>
            </span>

            <% if @moves_project.unarchived? %>
              <div class="small flex-shrink-0 ms-4">
                <%= link_to new_moves_project_step_move_path(moves_project_step),
                            class: "link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" do %>
                  <span class="bi bi-plus-lg"></span>
                  <span><%= t("moves.new.title") %></span>
                <% end %>
              </div>
            <% end %>
          </div>

          <%= turbo_frame_tag(dom_id(Move, :table), loading: :lazy, src: moves_project_step_moves_path(moves_project_step)) do %>
            <div class="w-100 d-flex justify-content-center align-items-center gap-3">
              <span role="status"><%= t("has_many_turbo_frame_component.loading") %></span>
              <span class="spinner-grow text-<%= @type %>" aria-hidden="true"></span>
            </div>
          <% end %>

          <% if @moves_project.unarchived? && moves_project_step.moves.any? && !moves_project_step.executed? %>
            <% card.with_footer do %>
              <%= link_to(
                    t("action.execute"), execute_moves_project_moves_project_step_path(@moves_project, moves_project_step),
                    title: t(".action.execute_step_moves"),
                    data: {
                      turbo: true,
                      turbo_method: :patch,
                      confirm: t(".execute_confirmation"),
                      controller: "tooltip",
                      bs_placement: "left",
                      turbo_frame: :_top,
                    },
                    class: "btn btn-sm btn-outline-primary ms-auto",
                    aria: { hidden: true },
                  ) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="col-12">
      <% if @moves_project.steps.any? %>
        <%= render CardComponent.new do |card| %>
          <% card.with_header do %>
            <%= t(".frame_table_title") %>
          <% end %>

          <% card.with_body(extra_classes: "bg-body-tertiary rounded") do %>
            <div class="container-fluid p-2">
              <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 g-4">
                <% @moves_project.steps.last.frames_with_moves_at_current_step.each do |frame| %>
                  <div class="col">
                    <%= render CardComponent.new do |card| %>
                      <div class="d-flex justify-content-between align-items-center border-bottom mb-2 pb-2">
                        <h5 class="mb-0">
                          <span class="bi bi-file-minus text-success me-1"></span>
                          <span title="<%= frame.room.name_with_site %>"
                                aria-label="<%= frame.room.name_with_site %>"
                                data-controller="tooltip">
                            <%= frame %>
                          </span>
                        </h5>

                        <span>
                          <button type="button" class="btn link-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="bi bi-three-dots"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li>
                              <%= link_to print_moves_project_moves_project_step_path(
                                    @moves_project, @moves_project.steps.last, frame,
                                  ),
                                          class: "dropdown-item",
                                          data: { turbo_frame: :_top },
                                          target: :_blank,
                                          rel: :noopener do %>
                                <span class="bi bi-printer me-1"></span>
                                <span><%= t("export_button.exports.print") %></span>
                              <% end %>
                            </li>
                            <li>
                              <%= link_to print_moves_project_moves_project_step_path(
                                    @moves_project, @moves_project.steps.last, frame,
                                  ),
                                          class: "dropdown-item",
                                          data: { turbo_frame: :_top } do %>
                                <span class="bi bi-file-earmark-pdf me-1"></span>
                                <span><%= t("export_button.exports.pdf") %></span>
                              <% end %>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                              <%= link_to visualization_frame_path(frame),
                                          class: "dropdown-item",
                                          data: { turbo_frame: :_top } do %>
                                <span class="bi bi-diagram-3-fill me-1"></span>
                                <span><%= t("visualization.title") %></span>
                              <% end %>
                            </li>
                            <li>
                              <%= link_to frame_moves_project_moves_project_step_path(
                                    @moves_project, @moves_project.steps.last, frame,
                                  ),
                                          class: "dropdown-item",
                                          data: { turbo_frame: :_top } do %>
                                <span class="bi bi-diagram-3-fill me-1"></span>
                                <span><%= "chassi" %></span>
                              <% end %>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                              <%= link_to frame_path(frame),
                                          class: "dropdown-item",
                                          data: { turbo_frame: :_top } do %>
                                <span class="bi bi-eye me-1"></span>
                                <span><%= "show page" %></span>
                              <% end %>
                            </li>
                          </ul>
                        </span>
                      </div>

                      <ul class="list-group list-group-flush">
                        <% @moves_project.moves.where(frame_id: frame.id).or(@moves_project.moves.where(prev_frame_id: frame.id)).find_each do |move| %>
                          <li class="list-group-item"
                              title="<%= move.step %>"
                              aria-label="<%= move.step %>"
                              data-controller="tooltip">
                            <div class="d-flex align-items-start">
                              <span class="bi bi-box-seam me-2 text-primary"></span>

                              <%= link_to move.decorated.display_name,
                                          moves_project_step_move_path(@moves_project.steps.last, move),
                                          class: "link-body-emphasis link-offset-2 link-underline-opacity-0 \
                                                  link-underline-opacity-75-hover",
                                          data: { turbo_frame: :_top } %>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= render CardEmptyDataComponent.new %>
      <% end %>
    </div>
  </div>

  <!-- TODO: Remove margin from changelog component + clean how show pages are built (again) by following this example -->
  <div class="mt-n4">
    <%= render ChangelogEntries::ObjectListComponent.new(@moves_project) %>
  </div>
</div>
